
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: "Inter",serif;
    width: 100%;
    line-height: 1.7;
    font-weight: 400;
    color: #424242;
}

.heading-1{
    font-size: 4.4rem;
    line-height: 1.25;
    font-weight: 500;

}

.heading-2{
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 1rem 0 2rem 0;
    color: #424242;
}

.heading-3{
    font-size: 2.8rem;
    font-weight: 500;
}
.heading-5{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.btn
{
   background-color:  #387ed1;
   color: #fff;
   display: inline-block;
   padding: 1rem 3rem;
   text-align: center;
   font-size: 1.2em;
   line-height: 1.2em;
   font-weight: 500;
   border: 1px solid rgba(0, 0, 0, 0);
   border-radius: 3px;
   cursor: pointer;
   box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #666;
    font-weight: 400;
    display: inline-block;
}

/* /////////////////////////////////////// */
/* Navigation */
/* /////////////////////////////////////// */

.navigation{
    top: 0;
    background-color: #fff; 
    width: 100%;
    z-index: 10;
    position: fixed;
    box-shadow:2px 1px 2px #eee;
    padding: 2rem 13rem 2rem;

}
.navigation__items{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    gap:45rem;
}
.navigation__item-others{
    display: flex;
    gap:5rem;
    flex-grow: 2;
    align-items: center;
}
.logo{
   max-height: 1.7rem;
}
li div{
    height: .2rem;
    width: 2rem;
    background-color: #424242;
    display: block;
    margin-bottom: .3rem;
    border-radius: .2rem;
    
}
.navigation__item-hamburger{
    cursor: pointer;   
}

/* /////////////////////////////////////// */
/* Hero */
/* /////////////////////////////////////// */
.hero{
    width: 110rem;
    margin: 0 auto;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.first-img{
    max-width: 80%;
}

.informationGrid{
    width: 110rem;
    margin: 0 auto;
    margin-top: 13rem;
    display: grid;
    width: 80%;

    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 4rem;
}
.informationGrid__UL {
    padding:2.5rem;
    display: flex;
    gap: 3rem;
}
p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-top: 1.6rem;
    margin-bottom: 1.5rem;
    /* font-weight: 1000 !important; */
}

.informationGrid__UL ul li{
    margin-bottom: .5rem;
}

.item{
    grid-column: 1/span 2;
    text-align: center;
}

.aColor{
    color: #387ed1;
}

.pricing-box{
   display: flex;
   text-align: center;

}
.pricing-box-child{
    border: 1px solid #ccc;
    padding:0 2.5rem;
    min-height: 19rem;
    flex-basis: 100%;
}

/* /////////////////////////////////////// */
/* Pricing */
/* /////////////////////////////////////// */
.container_pricing{
    display: flex;
    flex-direction: column;
}
.pricing_text{
    width: 100%;
    text-align: center;
    padding: 10rem 2rem;
    border-bottom: 1px solid #eee;
}
.pricing_details{
    display: flex;
    flex-basis: 30.66%;
    padding: 8rem 2rem;
    align-items: start;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.pricing_details-box img{
    margin-bottom: 1.5rem;
    display: inline-block;
    margin: 0 auto;
    width: 80%;
}
.pricing_details-box h3{
    margin-bottom: 2rem;

}
.pricing_details-box p{
    color: #666;
}
.pricing_details-box{
    display: flex;
    flex-direction: column;
    width: 30.66%;
}
.pricing_details-box img{
    max-width: 100%;
}
.pricing_signup{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.pricing_calc{
    display: flex;
    gap: 35rem;
    width: 100%;
    justify-content: space-around;
    color: #387ed1;
    font-weight: 400;
}
.pricing_calc-details{
    width: 100%;
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 8rem;
}

/* /////////////////////////////////////// */
/* Products */
/* /////////////////////////////////////// */

.container_products{
    display: flex;
    flex-direction: column;
}
.container_products-item-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-products-img{
    max-width: 100%;
}
.container_products-item-1-flex{
    
    flex-basis: 59%;
    width: 59%;    
    flex: 0 1 auto;
}

.container_products-item-2-flex{
    flex-basis: 41%;
    width: 41%;  
}
.partners{
    text-align: center;
}
.partners button{
    margin-top: 4rem;
    margin-bottom: 8rem;
}
.partner-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}
.partner-grid img{
    height: 55px;
    max-width: 100%;
}
.partner-grid-details{
    color: #9b9b9b;
    font-size: 1.1rem;
}
/* .container_products-item-2,.container_products-item-5,.container_products-item-4 img{
    width: 59%;
    flex-basis: 59%;
} */
/* .container_products-item-6,.container_products-item-3 img{
    width: 59%;
    flex-basis: 59%;
} */

/* /////////////////////////////////////// */
/* About */
/* /////////////////////////////////////// */
.about-intro{
    text-align: center;
    width: 100%;
    padding: 5rem 2rem;
    border-bottom: 1px solid #eee;
}

.about-description{
    padding: 8rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
}
.about-members{
    padding: 4rem 0 10rem 0;
    max-width: 80%;
    margin-bottom: 2rem;
}
.about-members-founder{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.about-members-others{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.about-members-others div{
    text-align: center;
    padding: 2rem 3.5rem;
    width: 30.66%;
}
.about-members-others img{
    border-radius: 100%;
    width: 100%;
}
.founder-img{
    width: 39%;
    text-align: center;
}
.founder-img img{
    border-radius: 100%;
    margin-bottom: 10px;
    height: 295px; 
}
.founder-description{
    width: 57%;
}

.founder-description p{
    margin-bottom: 1.5rem;
    line-height: 1.8;
}
/* /////////////////////////////////////// */
/* Footer */
/* /////////////////////////////////////// */
.footer{
   
   background-color: #fafafb;
   border-top: 1px solid #eee;
   padding:3rem 0 .5rem 0;

}

.footer-child1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    max-width: 100rem;
    margin: 0 auto;
}
.footer-child2 {
    margin-top: 4rem;
}
.footer-child2 ul li{ 
  
    list-style: none;
    display: inline-block;
    margin-bottom: 0 !important;
    margin-right:2rem ;
    color: #9b9b9b !important;
    font-size: 1.2rem !important;
    line-height: 4;
    
}
.footer-child2 p{
    font-size: 1.04rem;
    margin-bottom: 1rem;
    max-width: 100rem;
    margin: 0 auto;
    color:#9b9b9b;
    line-height: 1.8;
}
.footer-child2 ul {
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
}

.footer ul {
    list-style: none;
}

.footer ul li:first-child{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1;
}

.footer ul li:not(:first-child){
    color: #666;
}



/* /////////////////////////////////////// */
/* signup Form */
/* /////////////////////////////////////// */
.signUp-img-form{
    display: flex;
    justify-content: space-between;
    gap:3rem;
    padding: 10vh;
   
}

.signUp-img-form img{
    max-width: 57%;
}

form div{
    position: relative;

}
form div span{
    position: absolute;
    top: 7px;
    left: 1px;
    padding: 4px;
    /* margin-left: 2px; */
    display: inline-block;
    height: 38px;
    width: 50px;
    text-align: center;
    font-size: 1.5rem;  
    background-color: #fafafb;
}
input{
    border: 1px solid #e3e3e3;
    height: 4.5rem;
    color: #4a4a4a;
    width: 100%;
    padding: 1rem;
}
input[type="text"]
{
    padding:10px 0 !important;
    padding-left: 60px !important;
}


label{
    position: absolute;
    z-index: 10;
    /* transform: translate(-50%,-50%); */
    color: #9b9b9b;
    top: 0;
    background-color: #fff;
    margin-left: 1rem;
    line-height: 1;
    padding: 0 .5rem;
    font-size: 1.2rem;
    font-weight: 400;
    transform: translateY(-5px);

}
